body{
    margin:0;
    padding:0;
    height:100vh;
    background-color: #2C3537;
}

.video-container{
    background-color: black;
    width:90%;
    height:100vh;
    margin:auto;
}

.responsive-video-1{
    width:32%;
}

.responsive-video-2{
    width:18%;
}

.responsive-video-3{
    width:25%;
}

.responsive-video-4{
    width:56%;
}

.responsive-video-1,
.responsive-video-2,
.responsive-video-3,
.responsive-video-4{
    height:50px;
    margin: 10px;
    object-fit: cover;
}

h1{
    margin:50px;
    font-size:126px;
    color:white;
    font-weight:bold;
}

@media only screen and (min-width: 390px) and (max-width:600px){

.video-container{
    width:100%;
    padding:10px;
    margin:0;
}

.responsive-video-1{
    width:29%;
}

.responsive-video-2{
    width:62%;
}

.responsive-video-3{
    width:49%;
}

.responsive-video-4{
    width:49%;
}

.responsive-video-1, 
.responsive-video-2, 
.responsive-video-3, 
.responsive-video-4 {
    height: 25px;
    margin:0 5px;
}

h1 {
    margin:0px 10px;
    font-size:51px; 
}

h1 br{
    display:none;
}

}

@media only screen and (min-width: 601px) and (max-width:900px){

    .video-container{
        width:100%;
        margin:0;
        padding:10px;
    }

    h1 {
        margin:0px 10px;
        font-size:77px; 
    }
    
    .responsive-video-1, 
    .responsive-video-2, 
    .responsive-video-3, 
    .responsive-video-4 {
        height: 36px;
        margin: 0 ;
    }

    .responsive-video-1{
        width:35%;
    }
    
    .responsive-video-2{
        width:64%;
    }
    
    .responsive-video-3{
        width:73%;
    }
    
    .responsive-video-4{
        width:49%;
    }
    
    
    h1 br{
        display:none;
    }


}

@media only screen and (min-width: 901px) and (max-width:1120px){

    .video-container{
        width:100%;
        margin:0;
    }

    h1 {
        margin:0px 10px;
        font-size:95px; 
    }
    
    .responsive-video-1, 
    .responsive-video-2, 
    .responsive-video-3, 
    .responsive-video-4 {
        height: 41px ;
        margin: 0 10px;
    }

    .responsive-video-1{
        width:10%;
    }
    
    .responsive-video-2{
        width:37%;
    }
    
    .responsive-video-3{
        width:29%;
    }
    
    .responsive-video-4{
        width:61%;
    }
    
    h1 br{
        display:none;
    }

}
